<div class="item" nng-repeat="item in items">

	<div class="item-text">

		<div class="item-top">

			<div class="item-icon">
				<img ng-click="test()" class="icon-img" src="asset/facebook.png"/>
			</div><!-- item-icon -->
			<div class="item-title">Check out this shot!</div>
			<div class="item-date">Thursday, Nov 14, 2014 6:43 PM</div>

			<div class="clear"></div>
		</div><!-- item-top -->

		<div class="item-msg">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat sit amet eros et sollicitudin. Donec bibendum tristique velit, vitae ullamcorper arcu tempus at. Class.
		</div>
		<div class="item-aux">#tirerepair #abandoned #challenger</div>

		<div class="clear"></div>
	</div><!-- item-text -->

	<div class="item-img">
		<img class="img-img" src="car.jpg"/>
	</div><!-- item-img-->

	<div class="clear"></div>
</div><!-- item -->