<!-- <div id="fb-root"></div> -->
<login ng-controller="ConnectCtrl">
	<div class="container">
		<!-- login -->

		<div id="social-connect">
			<div ng-if="$parent.showFB">
				<div class="login-title">
					Login with Facbook
				</div>
				<div class="login-fb">
					<fb:login-button
						scope="public_profile,email,read_stream"
						onlogin="checkLoginState();"
						data-size="large"
						ndata-max-rows="1"
						ndata-show-faces="true">
					</fb:login-button>
				</div>
			</div><!-- facebookEnable -->

			<div class="login-title">
				Connect More
			</div>

			<form role="form" ng-submit="connect()">
				<div class="social-input">
					<label for="twitterid">
						<img class="login-icon" src="asset/twitter.png"/>
						<!-- {{userInfo.twitter}} -->
					</label>
					<input
						id="twitterid"
						ng-model="userInfo.twitter"
						name= "twitter"
						type="text"
					/>
				</div><!-- social-input -->
				<div class="social-input">
					<label for="instagramid">
						<img class="login-icon" src="asset/instagram.png"/>
						<!-- {{userInfo.instagram}} -->
					</label>
					<input
						id="instagramid"
						ng-model="userInfo.instagram"
						name= "instagram"
						type="text"
					/>
				</div><!-- social-input -->
				<div class="social-input">
					<label for="pinterestid">
						<img class="login-icon" src="asset/pinterest.png"/>
						<!-- {{userInfo.pinterest}} -->
					</label>
					<input
						id="pinterestid"
						ng-model="userInfo.pinterest"
						name= "pinterest"
						type="text"
					/>
				</div><!-- social-input -->

				<!-- <div ng-if="!twitterid">twitter test</div> -->

				<div class="clear"></div>
				<input type="submit" value="Connect"/>

				<div class="clear"></div>
			</form>

			<div class="clear"></div>
		</div><!-- social-id -->

		<div class="clear"></div>
	</div><!-- container -->
</login>