<div class="container" ng-controller="FeedCtrl">
	<!-- main -->

	<div class="item" ng-repeat="item in items | orderBy:'date':true">

		<div class="item-text">

			<div class="item-top">

				<div class="item-icon">
					<img ng-click="test()" class="icon-img" ng-src="asset/{{item.type}}.png"/>
				</div><!-- item-icon -->
				<div class="item-title">{{item.title}}</div>
				<div class="item-date">{{item.date}}</div>

				<div class="clear"></div>
			</div><!-- item-top -->

			<div class="item-msg">
				{{item.message}}
			</div>
			<div class="item-aux">{{item.aux}}</div>

			<div class="clear"></div>
		</div><!-- item-text -->

		<div class="item-img" ng-if="item.image">
			<img class="img-img" ng-src="{{item.image}}"/>
		</div><!-- item-img-->

		<div class="clear"></div>
	</div><!-- item -->

</div><!-- container -->